body{
    background-color: rgb(255, 255, 255);
}
nav {
  background-color: rgb(255, 255, 255);
  color: #000000;
  display: flex;
  justify-content: center;
  font-weight: 750;
  height: 20vh;
  margin-bottom: -40px;
}

nav ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: -10px;
}
input[type="radio"]{
  width: 1.15em;
  height: 1.15em;
  border: 2.15em solid currentColor;
  border-radius: 100%;
  visibility: visible;
  outline: none;
  box-shadow: none;
  border-color: transparent;
  list-style: none;
}

nav ul li a {
  color: #000000;
  text-decoration: none;
}
nav ul li:not(:last-child) {
  margin-right: 40px;
  margin-left: 40px;
}
.search-icon {
  margin-left: auto;
}

.logo {
  top: 0;
  margin-left:70%;
  padding: 10px;
  margin-top: 30px;
  right: 1;
}

.logo img {
  height: 20vh;
  width: 20vh;
  
 
}
nav button{
  width: 100px;
  height: 30px;
  border-radius: 7px;
}


.section1
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    margin-right: 5vh;
}

.box{
width: 40vh;
height: 50vh;
background-color: #afafaf;
margin: 5vh;
border-radius: 40px;
}
#box2{
    margin-top: 15%;
}
#circle{
    background-color: #f1f1f1;
    text-align: center;
   align-items: center;
    border-radius: 50vh;
    width: 10vh;
    height: 10vh;
}

.section2{
   
    display: flex;
    flex-direction: column;
     justify-content: center;
     text-align: left;
     align-items: center;
     align-content: center;

}
#bigBox{
    width:75%;
    height: 50vh;
    background-color: #afafaf;
    border-radius: 40px;
}
.section3{
    display: flex;
    flex-direction: column;
     justify-content: center;
     text-align: left;
     align-items: center;
     align-content: center;

}

.text{
    width: 40%;
    height: 10vh;
    background-color: #afafaf;
    border-radius: 2vh;
    text-align: center;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.signup{
    margin: 5vh;
    width: 40%;
}







#footerHR{
  text-align: left;
  margin-left: 0;
  width: 50%;

}
footer{
  font-weight: bolder;
  margin-left: 30px;
}
footer .fa {  
  text-align: center;  
  margin: 5px 2px;  
  font-size: 20px;
  border-radius: 100px;  
  width: 20px;  
  text-decoration: none;
}  
.fa-facebook {  
  background: transparent;  
  color: rgb(0, 0, 0); 
}  
.fa-twitter {  
  background: transparent;  
  color: rgb(0, 0, 0); 
}  
.fa-linkedin {  
  background: transparent;  
  color: rgb(0, 0, 0); 
}  
.fa-telegram {  
  background: transparent;  
  color: rgb(0, 0, 0);  
}  